/* src/app/contact/contact.module.css */
.container {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }
  
  .contactFormContainer {
    width: 100%;
    max-width: 600px;
  }
  
  .title {
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .inputGroup {
    display: flex;
    justify-content: space-between;
  }
  
  .input {
    width: 48%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .textarea {
    padding: 10px;
    height: 150px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  