/* src/styles/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
}

.navLinks {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navLink {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px 0;
  position: relative;
  text-transform: uppercase;
}

.navLink:hover,
.navLink.active {
  text-decoration: underline;
}