/* src/styles/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  color: white;
}

.logo a {
  color: white;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.navLinks a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
