/* src/styles/PhotoSelector.module.css */
.photoSelectorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* Set a width for the selector container */
  margin: 20px;
}

.imagePreviewContainer {
  width: 100%; /* Ensure the container spans the full width */
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.imagePreview {
  width: 600px; /* Fixed width for the display image */
  height: 400px; /* Fixed height for the display image */
  background-color: #ffffff;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.displayImage {
  max-width: 100%;
  max-height: 100%;
}

.imageList {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  width: 100%; /* Ensure the list spans the full width */
  padding: 10px;
  background: #ffffff; /* Background for the image list */
  border-radius: 8px;
}

.imageItem {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
}

.imageItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.imageItem:hover {
  transform: scale(1.05);
}

.selected {
  border: 2px solid #ffffff; /* White outline on the selected photo */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional shadow for emphasis */
}
