/* src/styles/RandomImageGrid.module.css */
.grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: -1; /* Ensure images are behind the text */
/* Adjust opacity to make text readable */
}

.image {
  position: absolute;
  width: 10%;
  height: 35%;
  object-fit: cover;
}

.image1 {
  left: 20%;
  top: 85%;
}

.image2 {
  left: 64%;
  top: 0%;
}

.image3 {
  left: 82%;
  top: 41%;
}

.image4 {
  left: 2%;
  top: 40%;
}
