/* src/styles/UploadButton.module.css */
.uploadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.uploadButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: black;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
  border: none;
  border-radius: 20px;
  width: 200px; /* Adjust width as needed */
  text-align: center;
  display: block;
  white-space: pre-wrap;
  line-height: 1.5;
  margin: 0 20px; /* Add margin to create space between button and arrows */
}

.arrow {
  width: 50px;
  height: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
  .button {
    width: 150px;
    font-size: 14px;
    padding: 15px;
    margin: 0 10px; /* Adjust margin for smaller screens */
  }

  .arrow {
    width: 30px; /* Adjust arrow size for smaller screens */
  }
}
