/* src/styles/Navbar.module.css */
.navbar {
    width: 100%;
    padding: 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .logo {
    font-family: 'PP Editorial New', serif;
    font-size: 24px;
  }
  
  .navLinks {
    display: flex;
    gap: 20px;
  }
  
  .navLinks a {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
  }
  